@charset "UTF-8";

tr:nth-child(even) {
	background-color: #2e2649;
}

tr:nth-child(odd) {
	background-color: white;
}

th {
	background-color: #342F44;
	color: white;
}

.noBorder {
	border: none !important;
	color: white;
}